{% extends 'doc/base.html' %}
{% block content %}
{% load static %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static "images/bg_1.jpg" %});" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Clinic</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Clinic <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
    </div>
</div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img"
id="section-counter" style="background-image: url({% static "images/bg_3.jpg" %});" data-stellar-background-ratio="0.5">
<div class="container">
    <div class="row">
        <div class="col-md-6 py-5 pr-md-5">
            <div class="heading-section heading-section-white ftco-animate mb-5">
                <span class="subheading">Register Clinic</span>
                <h2 class="mb-4">Registration</h2>
            </div>
            <form action="./Sign-Up.PHP" class="appointment-form ftco-animate" method="post">
                <label class="form-control"> Upload Image
					<input type="file" alt="Submit" width="48" height="48" style="float:right">
				</label>
                <div class="d-md-flex">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group ml-md-4">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="d-md-flex">
                    <div class="form-group">
                        <input type="text" class="form-control" id="fname" name="fname"placeholder="First Name">
                    </div>
                    <div class="form-group ml-md-4">
                        <input type="text" class="form-control" id="lname" name="lname"placeholder="Last Name">
                    </div>
                </div>
                <div class="d-md-flex">
                    <div class="form-group">
                        <div class="form-field">
                            <div class="select-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select id="sys" name="service" class="form-control">
                                    <option value="">Select Your Services</option>
                                    <option value="Neurology">Neurology</option>
                                    <option value="Cardiology">Cardiology</option>
                                    <option value="Dental">Dental</option>
                                    <option value="Ophthalmology">Ophthalmology</option>
                                    <option value="Other Services">Other Services</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ml-md-4">
                        <input type="text" class="form-control" id="Clinicname" name="Clinicname" placeholder="Clinic Name">
                    </div>
                </div>
                <div class="d-md-flex">
                    <div class="form-group">
                        <div class="input-wrap">
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-group ml-md-4">
                        <div class="input-wrap">
                            <input type="text" class="form-control" id="city" name="city" placeholder="City">
                        </div>
                    </div>
                </div>
                <div class="d-md-flex">
                    <div class="form-group">
                        <textarea cols="30" rows="2" class="form-control" id="address" name="address" placeholder="Address"></textarea>
                    </div>
                </div>
                <div class="d-md-flex">
                    <div class="form-group">
                        <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                    </div>
                    <div class="form-group ml-md-4">
                        <input type="password" class="form-control" id="cpass" name="cpass" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="form-group ml-md-4">
                    <input type="submit" value="Register" name="Register" class="btn btn-secondary py-3 px-4">
                </div>
            </form>
        </div>
        <div class="col-lg-6 p-5 bg-counter aside-stretch">
            <div class="row pt-4 mt-1">
                <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 p-5 bg-light">
                        <div class="text">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 p-5 bg-light">
                        <div class="text">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 p-5 bg-light">
                        <div class="text">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 p-5 bg-light">
                        <div class="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}